.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}
.title {
  font-size: 30px;
  font-weight: 500;
}
.app-searchForm {
  margin-top: 18px;
}
.app-input {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vh;
  font-size: 15px;
}
.app-submit {
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: #02aff0;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.app-submit:hover {
  background-color: white;
  color: #02aff0;
  cursor: pointer;
}

.app-recipes {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}
.app-health {
}
