.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}
.title {
  font-size: 30px;
  font-weight: 500;
}
.app-searchForm {
  margin-top: 18px;
}
.app-input {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vh;
  font-size: 15px;
}
